# Banco
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB=indicadores
POSTGRES_PORT=5433

# Backend
BACKEND_PORT=8080
DATABASE_URL=postgresql+psycopg://app:app@localhost:5433/indicadores

# Frontends
ANGULAR_PORT=4200
REACT_PORT=5173

# URL da API do ponto de vista do navegador
API_URL=http://localhost:8080