# Arquivos de credenciais locais
.env

# Python / FastAPI 
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.pytest_cache/

# IDEs e Editores
.idea/
.vscode/
*.swp

# Sistemas Operacionais
.DS_Store
Thumbs.db
node_modules/
dist/
.angular/
